
	<div id="Cuestionario">
		<center><img src="img/escudo.png"></center>
		<center><h2>CUESTIONARIO PARA LOS ESTUDIANTES</h2></center>
		<form name="myForm" novalidate>
			<fieldset>
				<legend>CAPACIDAD PROFESIONAL (dominio científico técnico)</legend>
				<table>
			<!-- Primer bloque CAPACIDAD PROFESIONAL (dominio científico técnico) -->
				<tr>
					<td width="10%">CPF.1.02</td>
					<td width="70%">1.	El docente demuestra dominio científico de los contenidos que contribuyen a explicar la asignatura (trata los contenidos en toda su complejidad, los relaciona, aclara y ejemplifica).</td>
					<td width="20%">
						<input type="radio" name="p1" value="Totalmente" ischecked required ng-model="user" name= class="datos">4
						<span style="color:red" ng-show="myForm.p1.$dirty && myForm.p1.$invalid">
						<span ng-show="myForm.p1.$error.required">Respuesta obligatoria.</span>
						</span>
						<input type="radio" name="p1" value="Mayoritariamente" ischecked required> 3
						<input type="radio" name="p1" value=" Minoritariamente" ischecked required> 2
						<input type="radio" name="p1" ischecked required> 1
					</td>
				</tr>
				<tr>
					<td ROWSPAN="2">CPF.1.03</td>
					<td>1.	El docente trabaja con contenidos pertinentes o actualizados (relacionados con los más recientes avances del conocimiento científico técnico de la profesión).</td>
					<td>
						<input type="radio" name="p2" value="Totalmente" >4
						<input type="radio" name="p2" value="Mayoritariamente" > 3
						<input type="radio" name="p2" value=" Minoritariamente" > 2
						<input type="radio" name="p2" value="other" > 1<br>
					</td>
				</tr>
				<tr>
					<td>2.	Los contenidos tratados satisfacen las expectativas estudiantiles.</td>
					<td>
						<input type="radio" name="p2.2" value="Totalmente">4
						<input type="radio" name="p2.2" value="Mayoritariamente" > 3
						<input type="radio" name="p2.2" value=" Minoritariamente"> 2
						<input type="radio" name="p2.2" value="other" > 1<br>
					</td>
				</tr>
				<tr>
					<td>CPF.1.04</td>
					<td>1.	El docente desarrolla con fundamento científico los contenidos de la asignatura.</td>
					<td>
						<input type="radio" name="p3" value="Totalmente" >4
						<input type="radio" name="p3" value="Mayoritariamente"> 3
						<input type="radio" name="p3" value=" Minoritariamente"> 2
						<input type="radio" name="p3" value="other"> 1
					</td>
				</tr>
				<tr>
					<td>CPF.1.05</td>
					<td>1.	El docente señala bibliografía básica y complementaria pertinente a la problemática de la asignatura.</td>
					<td>
						<input type="radio" name="p4" value="Totalmente" >4
						<input type="radio" name="p4" value="Mayoritariamente"> 3
						<input type="radio" name="p4" value=" other"> 2
						<input type="radio" name="p4" value="other"> 1
					</td>
				</tr>
				<tr>
					<td>CPF.1.06</td>
					<td>1.	El profesor orienta y apoya al estudiante en la investigación formativa (coordina la dinámica del proceso de investigación, sugiere actividades y da acompañamiento a los estudiantes).</td>
					<td>
						<input type="radio" name="p5" value="Totalmente" >4
						<input type="radio" name="p5" value="Mayoritariamente"> 3
						<input type="radio" name="p5" value=" Minoritariamente"> 2
						<input type="radio" name="p5" value="other"> 1
					</td>
				</tr>	
			</table>
			<br>
			<br>
			<textarea name="mensaje" placeholder="¿Qué sugiere para que mejore la capacidad profesional?"></textarea>
			</fieldset>
			<br>
			<br>
			<!-- Bloque 2 CAPACIDAD PEDAGÓGICA (desarrollo del proceso enseñanza-aprendizaje) -->
			<fieldset>
				<legend>CAPACIDAD PEDAGÓGICA (desarrollo del proceso enseñanza-aprendizaje)</legend>
				<table>
					<tr>
						<td width="10%">CPG.2.01</td>
						<td width="70%">1.	El profesor se comunica fácilmente con sus estudiantes (dialoga, presta atención, escucha, ayuda a que los estudiantes se sientan valorados, etc.).</td>
						<td width="20%">
							<input type="radio" name="p1b2" value="Totalmente">4
							<input type="radio" name="p1b2" value="Mayoritariamente"> 3
							<input type="radio" name="p1b2" value=" Minoritariamente"> 2
							<input type="radio" name="p1b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>CPG.2.02</td>
						<td>1.	El docente al inicio del ciclo y/o unidad socializa con los estudiantes la programación respectiva y establece las responsabilidades de cada uno.</td>
						<td>
							<input type="radio" name="p2b2" value="Totalmente" >4
							<input type="radio" name="p2b2" value="Mayoritariamente"> 3
							<input type="radio" name="p2b2" value=" Minoritariamente"> 2
							<input type="radio" name="p2b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td ROWSPAN="3">CPG.2.03</td>
						<td>1.	Existe un proceso lógico, ordenado y claro en el trabajo de aula y en otros escenarios.</td>
						<td>
							<input type="radio" name="p3b2" value="Totalmente">4
							<input type="radio" name="p3b2" value="Mayoritariamente"> 3
							<input type="radio" name="p3b2" value=" Minoritariamente"> 2
							<input type="radio" name="p3b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>2.	El docente brinda asesoría y apoyo para fortalecer los aprendizajes (organiza el trabajo en los grupos, orienta las actividades a desarrollar, amplía la información).</td>
						<td>
							<input type="radio" name="p4b2" value="Totalmente" >4
							<input type="radio" name="p4b2" value="Mayoritariamente"> 3
							<input type="radio" name="p4b2" value=" Minoritariamente"> 2
							<input type="radio" name="p4b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>3.	El docente brinda asesoría y apoyo durante el desarrollo de la investigación en el ciclo (revisa oportunamente los avances, aclara dudas, orienta la bibliografía a utilizar).</td>
						<td>
							<input type="radio" name="p5b2" value="Totalmente" >4
							<input type="radio" name="p5b2" value="Mayoritariamente"> 3
							<input type="radio" name="p5b2" value=" Minoritariamente"> 2
							<input type="radio" name="p5b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td ROWSPAN="3">CPG.2.04</td>
						<td>1.	El docente revisa periódicamente el trabajo individual y grupal que realizan los estudiantes dentro y fuera del aula. </td>
						<td>
							<input type="radio" name="p6b2" value="Totalmente" >4
							<input type="radio" name="p6b2" value="Mayoritariamente"> 3
							<input type="radio" name="p6b2" value=" Minoritariamente""> 2
							<input type="radio" name="p6b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>2.	El docente asegura a través de procesos permanentes de evaluación que se cumplan los aprendizajes previstos.</td>
						<td>
							<input type="radio" name="p7b2" value="Totalmente" >4
							<input type="radio" name="p7b2" value="Mayoritariamente"> 3
							<input type="radio" name="p7b2" value=" Minoritariamente"> 2
							<input type="radio" name="p7b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>3.	El docente estimula la participación activa de los estudiantes y controla que sean honestos en la realización de las tareas.</td>
						<td>
							<input type="radio" name="p8b2" value="Totalmente" >4
							<input type="radio" name="p8b2" value="Mayoritariamente"> 3
							<input type="radio" name="p8b2" value=" Minoritariamente"> 2
							<input type="radio" name="p8b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>CPG.2.05</td>
						<td>1.	El docente revisa los avances de los trabajos y los devuelve oportunamente con observaciones y recomendaciones.</td>
						<td>
							<input type="radio" name="p9b2" value="Totalmente">4
							<input type="radio" name="p9b2" value="Mayoritariamente"> 3
							<input type="radio" name="p9b2" value=" Minoritariamente"> 2
							<input type="radio" name="p9b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td ROWSPAN="2">CPG.2.06</td>
						<td>1.	El docente lleva un registro de las actividades académicas cumplidas por los estudiantes.</td>
						<td>
							<input type="radio" name="p10b2" value="Totalmente" >4
							<input type="radio" name="p10b2" value="Mayoritariamente"> 3
							<input type="radio" name="p10b2" value=" Minoritariamente"> 2
							<input type="radio" name="p10b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>2.	El docente comunica y analiza con los estudiantes los resultados de la evaluación de los aprendizajes.</td>
						<td>
							<input type="radio" name="p11b2" value="Totalmente" >4
							<input type="radio" name="p11b2" value="Mayoritariamente"> 3
							<input type="radio" name="p11b2" value=" Minoritariamente"> 2
							<input type="radio" name="p11b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td ROWSPAN="2">CPG.2.07</td>
						<td>1.	El docente planifica, supervisa y evalúa las prácticas académicas de los estudiantes (prácticas necesarias para desarrollar las habilidades y destrezas que demanda el desempeño de las prácticas profesionales).</td>
						<td>
							<input type="radio" name="p12b2" value="Totalmente" >4
							<input type="radio" name="p12b2" value="Mayoritariamente"> 3
							<input type="radio" name="p12b2" value=" Minoritariamente"> 2
							<input type="radio" name="p12b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>2.	El nivel de exigencia del docente en el cumplimento de tareas es el adecuado (ajustado a las necesidades de formación profesional de los estudiantes).</td>
						<td>
							<input type="radio" name="p13b2" value="Totalmente" >4
							<input type="radio" name="p13b2" value="Mayoritariamente"> 3
							<input type="radio" name="p13b2" value=" Minoritariamente"> 2
							<input type="radio" name="p13b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td rowspan="2">CPG.2.08</td>
						<td>1.	El docente propicia siempre un ambiente adecuado de trabajo.</td>
						<td>
							<input type="radio" name="p14b2" value="Totalmente">4
							<input type="radio" name="p14b2" value="Mayoritariamente"> 3
							<input type="radio" name="p14b2" value=" Minoritariamente"> 2
							<input type="radio" name="p14b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>2.	El docente motiva y hace su trabajo dinámico e interesante.</td>
						<td>
							<input type="radio" name="p15b2" value="Totalmente">4
							<input type="radio" name="p15b2" value="Mayoritariamente"> 3
							<input type="radio" name="p15b2" value=" Minoritariamente"> 2
							<input type="radio" name="p15b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td rowspan="2">CPG.2.09</td>
						<td>1.	El docente utiliza gabinetes, laboratorios, áreas experimentales, equipos, talleres u otros escenarios en donde los estudiantes puedan vincular la teoría con la práctica (previa planificación).</td>
						<td>
							<input type="radio" name="p16b2" value="Totalmente" >4
							<input type="radio" name="p16b2" value="Mayoritariamente"> 3
							<input type="radio" name="p16b2" value=" Minoritariamente"> 2
							<input type="radio" name="p16b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>2.	El docente utiliza herramientas informáticas u otros apoyos didácticos en el trabajo de aula.</td>
						<td>
							<input type="radio" name="p17b2" value="Totalmente de acuerdo" >4
							<input type="radio" name="p17b2" value="Mayoritariamente de acuerdo"> 3
							<input type="radio" name="p17b2" value=" Minoritariamente"> 2
							<input type="radio" name="p17b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>CPG.2.10</td>
						<td>1.	El docente cumple con los contenidos programados en el ciclo y/o unidad de estudio.</td>
						<td>
							<input type="radio" name="p18b2" value="Totalmente">4
							<input type="radio" name="p18b2" value="Mayoritariamente"> 3
							<input type="radio" name="p18b2" value=" Minoritariamente"> 2
							<input type="radio" name="p18b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td rowspan="3">CPG.2.11</td>
						<td>1.	El docente es claro y explicativo en el trabajo académico.</td>
						<td>
							<input type="radio" name="p19b2" value="Totalmente ">4
							<input type="radio" name="p19b2" value="Mayoritariamente "> 3
							<input type="radio" name="p19b2" value=" Minoritariamente"> 2
							<input type="radio" name="p19b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>2.	El docente resuelve las dudas y problemas planteados por el estudiante.</td>
						<td>
							<input type="radio" name="p20b2" value="Totalmente ">4
							<input type="radio" name="p20b2" value="Mayoritariamente"> 3
							<input type="radio" name="p20b2" value=" Minoritariamente "> 2
							<input type="radio" name="p20b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>3.	El docente logra aprendizajes significativos en los estudiantes (aprendizajes útiles para resolver problemas relacionados con el entorno).</td>
						<td>
							<input type="radio" name="p21b2" value="Totalmente">4
							<input type="radio" name="p21b2" value="Mayoritariamente"> 3
							<input type="radio" name="p21b2" value=" Minoritariamente"> 2
							<input type="radio" name="p21b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>CPG.2.12</td>
						<td>1.	El docente articula la investigación con los problemas de la comunidad.</td>
						<td>
							<input type="radio" name="p22b2" value="Totalmente">4
							<input type="radio" name="p22b2" value="Mayoritariamente"> 3
							<input type="radio" name="p22b2" value=" Minoritariamente"> 2
							<input type="radio" name="p22b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td rowspan="2">CPG.2.13</td>
						<td>1.	El docente genera en el aula y fuera de ella espacios de discusión, análisis y debate sobre temáticas relacionadas con los problemas de la comunidad. </td>
						<td>
							<input type="radio" name="p23b2" value="Totalmente" >4
							<input type="radio" name="p23b2" value="Mayoritariamente"> 3
							<input type="radio" name="p23b2" value=" Minoritariamente"> 2
							<input type="radio" name="p23b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>2.	El docente propicia aprendizajes a través de la investigación formativa (identificación de problemas, búsqueda, manejo y procesamiento de información, elabora análisis, síntesis, manejo de instrumentos de investigación, elabora conclusiones, informes, capacidad para trabajar en equipo).</td>
						<td>
							<input type="radio" name="p24b2" value="Totalmente">4
							<input type="radio" name="p24b2" value="Mayoritariamente"> 3
							<input type="radio" name="p24b2" value=" Minoritariamente"> 2
							<input type="radio" name="p24b2" value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>CPG.2.15</td>
						<td>1.	El docente elabora documentos de apoyo para ampliar y reforzar el conocimiento y aprendizaje de los conocimientos</td>
						<td>
							<input type="radio" name="p25b2" value="Totalmente" >4
							<input type="radio" name="p25b2" value="Mayoritariamente"> 3
							<input type="radio" name="p25b2" value=" Minoritariamente"> 2
							<input type="radio" name="p25b2"  value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>CPG.2.16</td>
						<td>1.	La relación entre el docente y el alumno es cordial (no hay autoritarismo).</td>
						<td>
							<input type="radio" name="p26b2" value="Totalmente" >4
							<input type="radio" name="p26b2" value="Mayoritariamente"> 3
							<input type="radio" name="p26b2" value=" Minoritariamente"> 2
							<input type="radio" name="p26b2"  value="desacuerdo"> 1
						</td>
					</tr>
					<tr>
						<td>CPG.2.17</td>
						<td>1.	El docente promueve conferencias, mesas redondas, foros, debates con instancias y organismos relacionados con la comunidad.</td>
						<td>
							<input type="radio" name="p27b2" value="Totalmente" >4
							<input type="radio" name="p27b2" value="Mayoritariamente"> 3
							<input type="radio" name="p27b2" value=" Minoritariamente"> 2
							<input type="radio" name="p27b2" value="En desacuerdo"> 1
						</td>
					</tr>
				</table>
				<textarea name="mensaje" placeholder="¿Qué sugiere para que mejore la capacidad profesional?"></textarea>
				<div>
					<input type="button" name="Enviar" value="Enviar" ng-disabled="myForm.p1.$dirty && myForm.p1.$invalid ||  myForm.p2.$dirty && myForm.p2.$invalid ||  myForm.p2.2.$dirty && myForm.p2.2.$invalid ||  myForm.p3.$dirty && myForm.p3.$invalid ||  myForm.p4.$dirty && myForm.p4.$invalid ||  myForm.p5.$dirty && myForm.p5.$invalid""  ng-click="enviard()">
				</div>
			</fieldset>
		</form>

	</div>