<div id="docentes">
	<center>
		<div id="docentes" class="lista">
			<center>
			<img src="img/escudo.png" width="80px" height="80px">
				<u>
					<li ng-click="lista()"><a class="tooltip">Ing.Luis Tillaguango<span class="tooltiptext">Da click</span></a></li>
					<br>
					<li ng-click="lista()"><a class="tooltip">Ing.Edgar Ivan Tuza<span class="tooltiptext">Da click</span></a></li>
					<br>
					<li ng-click="lista()"><a class="tooltip">Lic.Lorena Muñoz<span class="tooltiptext">Da click</span></a></li>
					<br>
					<li ng-click="lista()"><a class="tooltip">Ing.Yeferson Torres<span class="tooltiptext">Da click</span></a></li>
				</u>
			</center>
				<br>
				<br>
				<br>
				<br>
		</div>
	</center>
</div>