<div class="informacion">
	<div class="tutorial">
		<center>
		<img src="img/escudo.png">
		<h1>INFORMACIÓN PREVIA</h1>
		<br>
		<br>
		<h3>Sr./Sra./Srta.</h2><br>
		
		<h3><p>

		El Instituto Tecnológico Superior “Nuestra Señora del Rosario”, a través de la Comisión de Evaluación Interna, pone en marcha el proceso de evaluación del desempeño docente, con la finalidad de continuar con el proceso de mejoramiento de la calidad de la educación superior y la formación de los profesionales.

		Al agradecer su colaboración, nos permitimos indicarle que la presente encuesta es totalmente confidencial y anónima cuyos resultados se darán a conocer únicamente en forma tabulada e impersonal.  Es fundamental que sus respuestas se enmarquen en los principios de justicia, transparencia y veracidad.
			</p></h3> 
			<br>
			<br>
			<br>
			<u>
			</u>
			<center>
				<button type="button"  class="continuar" ng-disabled="myForm.Nombre.$dirty && myForm.Nombre.$invalid ||  myForm.psw.$dirty && myForm.psw.$invalid" ng-click="informacion()" >Continuar</button>
				<button type="button" type="button" class="continuar" ng-disabled="myForm.Nombre.$dirty && myForm.Nombre.$invalid ||  myForm.psw.$dirty && myForm.psw.$invalid" ng-click="inicio()">Inicio</button>
			</center>
			
			<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		</center>
	
	</div>
	
		
</div>